.wrapper {
  height: 100%;
  width: 300px;
  background-color: rgb(255,255,255);
  padding: 5px 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -webkit-animation: eMLfYp 300ms linear;
  animation: eMLfYp 300ms linear;
}

.name {
  border-bottom: 1px solid grey;
}

.name h3 {
  margin: 25px 0;
  color: #333;
  font-size: 18px;
  -webkit-letter-spacing: 1.66;
  -moz-letter-spacing: 1.66;
  -ms-letter-spacing: 1.66;
  letter-spacing: 1.66;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.body {
  padding: 10px 0 0 0;
}

