.body {
  opacity: 1;
  margin: 10px 0;
  padding: 17px 7px;
  background: rgb(241,241,241);
  border-radius: 4.5px;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  -webkit-animation: eMLfYp 300ms linear;
  animation: eMLfYp 300ms linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 6px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-decoration: none;
  background-color: rgb(202, 255, 222);
}

.taskName {
  color: #333;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}